/*
article > ol {
  counter-reset: li;
  list-style: none;
  position: relative;
  margin-left: 0;
  padding-left: 0;
}

article > ol > li {
  padding: 5px 0 5px 50px;
  position: relative;
  margin-bottom: 5px
}

article > ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  margin-top: 6px; // Align bullet point numbers with text.
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  padding: 0 10px 0 0;
  color: #777;
  font-size: 22px;
  font-weight: bold;
  line-height: 35px;
  text-align: right;
  border-right: 1px solid #ddd
}

.article .panel-body > ol > li+li {
  margin-top: 0
}

.article .panel-body > ol ol,
.article .panel-body > ol ul {
  margin-bottom: 12.5px
}

.article .panel-body > ol ol ol,
.article .panel-body > ol ol ul,
.article .panel-body > ol ul ol,
.article .panel-body > ol ul ul {
  margin-bottom: 0
}

ul, ol {
  margin-top: 0;
  margin-bottom: 12.5px;
}
*/

.md-content {
  font-family: Perpetua, Verdana, sans-serif;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #00692d;
  font-weight: bold;
}

h1, h2 {
  font-family: Montserrat, Perpetua, Helvetica, Verdana, Arial, sans-serif;
  font-weight: bold;
}

.md-nav__item > a {
  font-family: Copperplate, Perpetua, Helvetica, Verdana, Arial, sans-serif;
}

.md-header, .md-footer-meta {
  background-color: #007331;
  font-family: Candara, Perpetua, Helvetica, Verdana, Arial, sans-serif;
}

.md-tabs, .md-source {
  background-color: #007331;
  font-family: Copperplate, Perpetua, Helvetica, Verdana, Arial, sans-serif;
}

.md-footer-copyright {
  color: #007331;
}
