{% extends "base.html" %}

<!-- Content block -->
{% block content %}
  <h1>404 - Not found</h1>
  <div class="admonition warning">
    <p class=admonition-title>Most technical docs have moved!</p>
    <p>As of 2020-06-06 note that all posts from <strong>/technical/guides/</strong> have been moved to <strong>/technical/</strong>.</p>
  </div>
{% endblock %}

